@using WebPL.Models;
@using Dependencies;


@{
    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    List<string> searchData = new List<string>();

    if (IsPost)
    {
        var entityToSearch = Request["searchBar"];

        if (Request["signOut"] != null)
        {
            FormsAuthentication.SignOut();

            Response.Redirect("~/Login");
        }
        else
        {
            if (Request["redirect"] != null)
            {
                if (int.Parse(Request.Form["select"]) == 1)
                {
                    DataToRoute.Data = DependencyResolver.Instance.ProjectBLL.UserLogic.GetEntities();

                    DataToRoute.AdditionalData = DependencyResolver.Instance.ProjectBLL.AwardLogic.GetEntities();

                    Response.Redirect("~/Pages/UserList.cshtml");
                }
                else
                {
                    DataToRoute.Data = DependencyResolver.Instance.ProjectBLL.AwardLogic.GetEntities();

                    DataToRoute.AdditionalData = DependencyResolver.Instance.ProjectBLL.UserLogic.GetEntities();

                    Response.Redirect("~/Pages/AwardList.cshtml");
                }
            }
        }

        if (entityToSearch != null)
        {
            searchData.Add(DependencyResolver.Instance.ProjectBLL.UserLogic.FindEntity(entityToSearch));

            searchData.Add(DependencyResolver.Instance.ProjectBLL.AwardLogic.FindEntity(entityToSearch));
        }

    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Главная страница</title>
</head>
<body>
    <h1 class="header_text"> Меню сайта</h1>
    <hr />
    @if (User.Identity.IsAuthenticated)
    {
        <form method="post" action="">
            <select id="select" name="select" class="small_text">
                <option value="1"> Просмотр и редактирование списка пользователей </option>
                <option value="2"> Просмотр и редактирование списка наград </option>
            </select>
            <p>
                <input name="redirect" style=" width: 130px; height: 130px; background-image: url(https://v1.iconsearch.ru/uploads/icons/ose/128x128/arrowright.png)" type="submit" value="" />
            </p>
            <button name="signOut" type="submit" class="button add_button">SignOut </button>
            <label class="small_text" for="search"> Поиск</label>
            <input style=" width: 200px; height: 30px;" name="searchBar" id="search" placeholder="Введите имя сущности" />

            @foreach (var searchRes in searchData)
            {
                foreach (var infoString in searchRes.Split(new char[] { '\r', '\n' }, StringSplitOptions.RemoveEmptyEntries))
                {
                    <p class="small_text">
                        @infoString
                    </p>
                }
            }

            <input class="button ok_button" type="submit" value="Поиск"/> 
        </form>
    }
    else
    {
        DataToRoute.EntityToUpdateId = -1;

        Response.Redirect("~/Login.cshtml");
    }
</body>
</html>
